a:link, a:visited, a:active	{color:#000000; font-style:italic; text-decoration:none; }
a:hover				{color:#0000ff; text-decoration:underline; }
body 				{font-size: 12pt; background-color:#ffcc99; }
img				{border-width:0; }
H4				{text-align:center; }